body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 0;
    }

header {
    background-color: #EAC926;
    padding-top: 1em;
    padding-bottom: 1em;
}

#logo-mercado-liebre {
    margin: 8px;
    width: 50%;
}

#search-bar {
    margin: 8px;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

.burger-menu {
    background-color: #1259c3;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
}

main {
    background-color: #ebebeb;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 auto;
    width: 90vw;

}

main section img {
    width: 75%;
}

main section article {
    background-color: white;
    margin: 10px;
    padding: 1em;
}

.fa-truck {
    color: #39b54a;
}

.precio {
    font-size: 18px;
}

.descuento {
    font-size: 16px;
    color:  #39b54a;
}

.descripcion {
    font-size: 16px;
}

.texto-centrado {
    text-align: center;
}

footer {
    color:  #666;
    margin: 1em;
}

footer section {
    margin: 3em;
}

footer h3 {
    margin: 0;
}

footer section p {
    margin: 0;
}

.icono-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}