*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    }

header {
    background-color: #EAC926;
    padding-top: 1em;
    padding-bottom: 1em;
}

#logo-mercado-liebre {
    margin: 8px;
    width: 50%;
}

#search-bar {
    margin: 8px;
}

#site-bar, #login-bar {
    display:  none;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li a {
    text-decoration: none;
    color: inherit;
}

#burger-menu {
    background-color: #1259c3;
    color: white;
    text-align: center;
    font-size: 24px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: fit-content;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
}

main {
    background-color: #ebebeb;
    padding-top: 1em;
    padding-bottom: 1em;
    
}

main section {
     width: 90%;
     margin: 0 auto;
}

main section img {
    width: 75%;
}

main section article {
    background-color: white;
    margin: 10px;
    padding: 1em;
    
}

.caja-detalles {
    border-top: #ebebeb 1px solid;
    padding: 15px;
    position: relative;
}

.fa-truck {
    color: #39b54a;
}

/*
main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
   }
*/


.precio {
    width: 30%;
    font-size: 18px;
    
}

.descuento {
    width: 70%;
    font-size: 16px;
    color:  #39b54a;
   
}

.descripcion {
    font-size: 16px;
    display: none;
}

.texto-centrado {
    text-align: center;
}

footer {
    color:  #666;
   
}

footer section {
   margin: 0 auto;
    width: 90%;
}

footer h3 {
    margin: 0;
}

footer section p {
    margin: 0;
}

.icono-footer {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}